---
# Configuration globale pour Prysma
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true       
  TypeNameLimit: 0
  BlockEnd: true

CompileFlags:
  Add: 
    #- "-fno-rtti" // temporaire, pour le debug
    - "-frtti"
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wshadow"
    - "-Wconversion"
    - "-Wsign-conversion"
    - "-Wnull-dereference"
    - "-fcolor-diagnostics"
  CompilationDatabase: build

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: 
      - bugprone-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - readability-*
      - cert-*
      - hicpp-*
      - clang-analyzer-*
      - misc-*
      - portability-*
      - concurrency-*
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
