# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build directory 

/build/
/build-*/ 
/Documents/LLVMDoc/build-*/ 
/Documents/LLVMDoc/build/ 
/tests/unit_tests/build/ 
/tests/unit_tests/build-*/
/tests/perf_tests/build/
/tests/perf_tests/build-*/

# Cache clangd 

.cache
/.cache-*/

# Tools 

/Tools-*/
/Tools/

# Python compiled files
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
.venv/
venv/

# Performance DB & Generated/Temp JSON Files
*.db
*.db-journal
*.db-wal
*.db-shm
dashboard_config.json
*.json.tmp
perf_*.json
config.toml
.streamlit/
